<!DOCTYPE html>
<html>
    <head>
        <title>Music Soft</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/rock.css">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,700,700italic,900,900italic" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto Condensed' rel='stylesheet'>
        <style>
            .mainDiv {
                position: fixed;
                top:65px;
                width: 100%;
                display: inline-block;
                font-family: 'Roboto Condensed';
                background-image: url('bg.jpg');
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
            .musicList {
                position: relative;
                width: 100%;
                height: 100vh;
                background-color: #222336;
                box-shadow: 0 1px 20px rgba(0, 0, 0, 0.6);
            }
            .fa {
                font-size: 20px;
                color: white;
                padding: 10px;
            }
            .searchText {
                font-family: Arial Narrow,Arial,sans-serif;
                background-color: transparent;
                border: none;
                outline: none;
                color: white;
                font-size: 20px;
                font-weight: bold;
            }
            .search {
                padding: 0.5em 1em;
                box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
            }
            .uol {
                margin: 0;
                width: 100%;
            }
            .dark {
                background-color: rgba(0,0,0,0.18);
                padding: 1em;
                font-family: 'Roboto Condensed';
            }
            .light {
                background-color: rgba(0,0,0,0.1);
                padding: 1em;
                font-family: 'Roboto Condensed';
            }
            div.uol>div>img {
                width: 100%;
                border-radius: 50%;
            }
            .bottom {
                z-index: 10;
                position: absolute;
                width: 100%;
                bottom: 65px;
                left: 0;
                display: flex;
                padding: 1em;
                align-items: center;
                box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
            }
            .headPage {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 100%;
                height: 100vh;
                font-family: 'Roboto Condensed';
            }
            h1 {
                width: 100%;
                font-family: 'Roboto Condensed';
                color: white;
                font-size: 40px;
            }
            h6 {
                width: 100%;
            }
        </style>
    </head>
    <body>
        <% include ./partials/navbar %>
        <div class="mainDiv">
            <div class="hidden-xs col-sm-7" style="padding: 0;height: 100vh;">
                <div class="headPage">
                    <div style="width: 100%;margin: 1em;display: inline-block;">
                        <h1><b>Pick a Song</b></h1>
                    </div>
                    <div style="width: 100%;margin: 1em;display: inline-block;">
                        <h6><b>This is a music streaming player for the songs<br />provided by MusicSoft.com. Just pick a song from<br />the sidebar to the right to start listening.</b></h6>
                    </div>
                </div>
                <div class="bottom">
                
                </div>
            </div>
            <div class="col-xs-12 col-sm-5" style="padding: 0;">
                <div class="w3-sidebar w3-bar-block w3-card musicList">
                    <div class="search">
                        <i class="fa fa-search"></i> 
                        <input class="searchText" type="text" placeholder="Search music...">
                    </div> 
                    <div class="uol">
                        <% for(i=0;i<data.length;++i) { %>
                            <% if(i%2==0) { %>
                                <div class="dark col-xs-12 col-sm-12">
                                    <div class="col-xs-4" style="padding: 0;">
                                        <img src="/img/<%= data[i]._id %>" style="height: 70px;width: 70px;" />
                                    </div>
                                    <div class="col-xs-8" style="padding: 0;">
                                        <h6 style="color: white;margin: 0;"><b><%= data[i].title.toUpperCase() %></b></h6>
                                        <h6 style="color: #787BA2;margin: 0;opacity: 0.5;"><b><%= data[i].album.toUpperCase() %></b></h6>
                                        <h6 style="color: #787BA2;margin: 0;">Artist(s): <b><%= data[i].artists %></b></h6>
                                        <h6 style="color: #787BA2;margin: 0;">Year: <b><%= data[i].year %>&emsp;</b>Genre: <b><%= data[i].genre %></b></h6>
                                    </div>
                                </div>
                            <% } else { %>
                                <div class="light col-xs-12 col-sm-12">
                                    <div class="col-xs-4" style="padding: 0;">
                                        <img src="/img/<%= data[i]._id %>" style="height: 70px;width: 70px;" />
                                    </div>
                                    <div class="col-xs-8" style="padding: 0;">
                                        <h6 style="color: white;margin: 0;"><b><%= data[i].title.toUpperCase() %></b></h6>
                                        <h6 style="color: #787BA2;margin: 0;opacity: 0.5;"><b><%= data[i].album.toUpperCase() %></b></h6>
                                        <h6 style="color: #787BA2;margin: 0;">Artist(s): <b><%= data[i].artists %></b></h6>
                                        <h6 style="color: #787BA2;margin: 0;">Year: <b><%= data[i].year %>&emsp;</b>Genre: <b><%= data[i].genre %></b></h6>
                                    </div>
                                </div>
                            <% } %>
                        <% } %>
                    </div>
                    <div class="bottom">
                        <div style="color: #787BA2;font-size: 18px;" class="col-xs-9">
                            <span class="fa clickable fa-sort-amount-asc" style="padding: 0;color: #787BA2;"></span>
                            <span style="opacity: 0.5;"><b>Sort:</b></span>
                            <span style="color: #6495ED"><b>Title</b></span> 
                        </div>
                        <div style="float: right;" class="col-xs-3">
                            <img src="/upload.png" style="height: 35px;width: 50px;cursor: pointer;" id="uploadsong">
                            <div style="display: none;">
                                <form method="POST" action="/upload" enctype="multipart/form-data">
                                    <input type="file" accept=".mp3" id="song" name="song" onchange="submit()" />
                                    <input type="submit" id="submitsong">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript">
        document.getElementById("uploadsong").onclick = ()=>{
            document.getElementById("song").click();
        }
        var submit = ()=>{
            document.getElementById("submitsong").click();
        }
    </script>
</html>